<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Core.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Core.Web.styles.css" asp-append-version="true"/>

    <link href="~/lib2/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/tooplate-main.css">
    <link rel="stylesheet" href="~/css/owl.css">

</head>
<body>
<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>
   <!-- Sub Footer Starts Here -->
   <div class="sub-footer">
     <div class="container">
       <div class="row">
         <div class="col-md-12">
           <div class="copyright-text">
             <p>Copyright &copy; 2019 Company Name 
                  
               - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
           </div>
         </div>
       </div>
     </div>
   </div>
    <!-- Bootstrap core JavaScript -->
@*        <script src="~/lib2/jquery/jquery.min.js"></script> *@
@*        <script src="~/lib2/bootstrap/js/bootstrap.bundle.min.js"></script> *@
@*     *@
@*     *@
@*        <!-- Additional Scripts --> *@
@*        <script src="~/js2/custom.js"></script> *@
@*        <script src="~/js2/owl.js"></script> *@
@*     *@
@*     *@
@*        <script language = "text/Javascript">  *@
@*          cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field *@
@*          function clearField(t){                   //declaring the array outside of the *@
@*          if(! cleared[t.id]){                      // function makes it static and global *@
@*              cleared[t.id] = 1;  // you could use true and false, but that's more typing *@
@*              t.value='';         // with more chance of typos *@
@*              t.style.color='#fff'; *@
@*              } *@
@*          } *@
@*        </script> *@

   
   <script src="~/lib2/jquery/dist/jquery.min.js"></script>
<script src="~/lib2/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js2/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>